*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}    
body{
    width: 100%;
    height: 100vh;
    background: url("../img/cover.jpeg") center center no-repeat;
    background-size: cover;
    padding: 50px 20px 10px 20px;
}
.head{
    width: 100%;
    margin-bottom: 30px;
}
.head h1{
    text-align: center;
    color:#443a3acf;
    text-shadow: 2px 2px 3px bisque;
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Times New Roman' , serif;
}
.content{
    width:80%;
    margin: 0 auto;
    position: relative;
}

.search{
    display: block;
    visibility: visible;
    text-align: center;
}
.search .seach-input{
    height: 50px;
    width:600px;
    padding:15px 20px 15px 20px;
    border: 5px solid bisque;
    color: rgb(82, 82, 82);
    font-weight: bold;
    border-radius:15px;
    outline: none;
    font-size: 17px;
    letter-spacing: 1px;
    transition:0.4s ease-in-out;
}
.search .seach-input[type=text]:focus {
    width:700px;
    padding:20px 20px 20px 20px;
  }
  .end{
    color:#443a3acf;
      font-size: 30px;
      cursor: pointer;
      display: inline-block;
  }
